.container {
  position: relative;
  height: 100vh;
  background-image: url('/hud3.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container h1 {
  color: #ffffff;
}

.container p {
  color: #ffffff;
}

