.container {
background-image: url("/hud1.png");
background-repeat: no-repeat;
background-position: center center;
background-attachment: fixed;
margin: 0px;
padding: 0px;
}

.container h1 {
  
  color: #ffffff;
  font-family: cursive; 
  font-size: 20px ;

}

.container p {
  color: #ffffff;
}
.fondonegro{
  background-color: black;
}

